<!DOCTYPE html>
<html lang="ja">
    <head>
	<meta charset="utf-8">
	<title>OpenDataDay2015</title>
	<link rel="stylesheet" href="css/pure/pure-min.css">
    </head>
    <body>
	<form action="/going" method="get" class="pure-form">
	    <input type="button" value="善光寺に行く" class="pure-button button-xlarge">
	</form>
	<form action="/return" method="get" class="pure-form">
            <input type="button" value="長野駅に帰る" class="pure-button button-xlarge">
	</form>
	<style>
	 .button-xlarge {
	     font-size: 1000%;
	 }
	</style>
    </body>
</html>
